In [1]:
#ContohList
L1 = [3, 5, 2, 13]
print(type(L1))

<class 'list'>

In [2]:
L2 = ["a", "Python", 3]
print(type(L2))

<class 'list'>

In [3]:
print(L1)
print(L2)

[3, 5, 2, 13]
['a', 'Python', 3]

In [4]:
L1 = [1, "empat", True, 5+3j]
L1.extend(["Mark Lee"])
print(L1)

[1, 'empat', True, (5+3j), 'Mark Lee']

In [5]:
#SifatSifatList
#1.Terurut/Ordered
print("Memanggil List L1 dengan indeks urutan:", L1[0:3])

#2.BisaDiganti/Mutable
L1[1] = 2
print("List L1 setelah diganti elemennya", L1)

L1 = [1, "dua", True, 2+3j]

#3.DapatDiindeks/Slicing
print("slicing list L1:", L1[3])

#4.Dapat Diijinkan Duplikasi
L1 = [1, "dua", True, 2+3j, 2+3j]
print("Duplikasi pada List L1:", L1)

#5.DapatMengubahDataDenganMenggantiElemenTertentu
L1 = [1, "dua", True, 2+3j]
L1[2] = 3
print("Data Setelah Diubah:", L1)

#6.dapatMenambahkanElemenBaruPadaData
L1 = [1, "dua", True, 2+3j]
L1.remove(2+3j)
print("Data setelah dihapus elemennya:", L1)

Memanggil List L1 dengan indeks urutan: [1, 'empat', True]
List L1 setelah diganti elemennya [1, 2, True, (5+3j), 'Mark Lee']
slicing list L1: (2+3j)
Duplikasi pada List L1: [1, 'dua', True, (2+3j), (2+3j)]
Data Setelah Diubah: [1, 'dua', 3, (2+3j)]
Data setelah dihapus elemennya: [1, 'dua', True]

In [6]:
#menambahkan data menggunakan fungsi extend (menambahkan elemen baru pada list namun elemen tersebut ditambahkan secara individual)

L1 = [1, "dua", True, 6+3j]
L1.extend("5 Seconds Of Summer")
print(L1)

[1, 'dua', True, (6+3j), '5', ' ', 'S', 'e', 'c', 'o', 'n', 'd', 's', ' ', 'O', 'f', ' ', 'S', 'u', 'm', 'm', 'e', 'r']

In [7]:
L1 = [1, "dua", True, 2+3j]
L1.extend(["Canada"])
print(L1)

[1, 'dua', True, (2+3j), 'Canada']

In [8]:
#menambahkan data dengan fungsi insert (menambahkan elemen baru di List pada indeks tertentu)
L1 = [1, "dua", True, 2+3j]
L1.insert(4,9)
print(L1)

[1, 'dua', True, (2+3j), 9]

In [9]:
#menghapus elemen dari list menggunakan fungsi pop (menghapus berdasarkan indeks)
L1 = [1, "tiga", True, 2+3j]
L1.pop(0)
print(L1)

['tiga', True, (2+3j)]

In [10]:
L1 = [1, "dua", True, 2+3j]
L1.pop()
print(L1)

[1, 'dua', True]

**Latihan**

1. Buatlah List Kalian Sendiri!

In [11]:
#1. Buatlah list kalian sendiri

L4 = [4, "empat", True, 2+4j]
print(L4)

[4, 'empat', True, (2+4j)]

2. Ganti elemen yang ada pada list kalian!

In [12]:
#sifat-sifat list
print("Memanggil List L4 dengan indeks urutan:", L4[0:3])

L4[1] = 2
print("List L3 setelah diganti elemennya:", L4)

L4 = [4, "empat", True, 2+4j]

print("Slicing List L3:", L4[3])

L4 = [4, "empat", True, 2+4j]
print("duplikasi pada list L3:", L4)

L4 = [4, "empat", True, 2+4j]
L4[2] = 3
print("Data setelah diubah:", L4)

L4 = [4, "empat", True, 2+4j]
L4.append(10)
print("data setelah ditambahkan elemennya:", L4)

L4 = [4, "empat", True, 2+4j]
L4.remove(2+4j)
print("Data setelah dihapus elemennya:", L4)

Memanggil List L4 dengan indeks urutan: [4, 'empat', True]
List L3 setelah diganti elemennya: [4, 2, True, (2+4j)]
Slicing List L3: (2+4j)
duplikasi pada list L3: [4, 'empat', True, (2+4j)]
Data setelah diubah: [4, 'empat', 3, (2+4j)]
data setelah ditambahkan elemennya: [4, 'empat', True, (2+4j), 10]
Data setelah dihapus elemennya: [4, 'empat', True]

In [13]:
L4 = [4, "empat", True, 2+4j]
L4.extend("Mark")
print(L4)

L4 = [4, "empat", True, 2+4j]
L4.extend(["Mark"])
print(L4)

L4 = [4, "empat", True, 2+4j]
L4.insert(1,6)
print(L4)

L4 = [4, "empat", True, 2+4j]
L4.pop(2)
print(L4)

[4, 'empat', True, (2+4j), 'M', 'a', 'r', 'k']
[4, 'empat', True, (2+4j), 'Mark']
[4, 6, 'empat', True, (2+4j)]
[4, 'empat', (2+4j)]