In [1]:
#contoh tuple
T1 = (1, "dua", True, 1+2J)
print("ini adalah tuple", T1)

ini adalah tuple (1, 'dua', True, (1+2j))

In [2]:
T11 = 1, "dua", True, 1+2J
print("ini adalah tuple", T11)

ini adalah tuple (1, 'dua', True, (1+2j))

In [3]:
#menampilkan tipe struktur data
type(T1)

tuple

In [4]:
type(T11)

tuple

In [5]:
#terurut/odered
T1[0:3]

(1, 'dua', True)

In [7]:
#tidak bisa diganti/immutable
T1[2] = "manusia"

TypeError: ignored

In [8]:
#dapat diindeks/slicing
print("elemen kedua dari tuple T1 adalah: ",T1[1])

elemen kedua dari tuple T1 adalah:  dua

In [9]:
#dapat diijinkan duplikasi
T2 = (3, 2.4, True, 2.4)
T2

(3, 2.4, True, 2.4)

In [10]:
#tidak dapat menambahkan elemen baru
t1 = (1, "dua", True, 1+2j)
print(f' tuple\t: {T1}')

 tuple	: (1, 'dua', True, (1+2j))

In [11]:
T1.append(10)
T1.append(50)
print(f' tuple\t: {T1}')

AttributeError: ignored

In [12]:
#tidak dapat menghapus elemen
T1 = (1, "dua", True, 1+2j)
print(f' tuple\t: {T1}')

 tuple	: (1, 'dua', True, (1+2j))

In [13]:
T1.remove(1)
T1.remmove("dua")
print(f' tuple\t: {T1}')

AttributeError: ignored

In [14]:
#menggabungkan tuple
T3 = T1 + T2
T3

(1, 'dua', True, (1+2j), 3, 2.4, True, 2.4)

**LATIHAN**

In [15]:
La = (2, "MARK", True, 3+5j)
print(La)

Lb = (8, "MARK", False, 2+3j)
print(Lb)

(2, 'MARK', True, (3+5j))
(8, 'MARK', False, (2+3j))

In [16]:
type(La)

tuple

In [17]:
type(Lb)

tuple

In [19]:
La[0:3]

(2, 'MARK', True)

In [22]:
La[2] = 'MARK'

TypeError: ignored

In [23]:
print("elemen pertaman dari tuple La adalah: ", La[0])

elemen pertaman dari tuple La adalah:  2

In [24]:
La.append(15)
La.append(16)
print(f' tuple\t: {La}')

AttributeError: ignored

In [25]:
La.remove(1)
La.remmove("dua")
print(f' tuple\t: {T1}')

AttributeError: ignored

In [26]:
Lm = La + Lb
Lm

(2, 'MARK', True, (3+5j), 8, 'MARK', False, (2+3j))